:root {
    --border-radius: 10px;
}

body {
    min-width: 450px;
}

.life-cycles, .mixed-cards {
    margin: 0 auto;
    display: flex;
}

.life-cycles {
    max-width: 660px;
}
.metamorphosis-container {
    flex: 1;
}
.metamorphosis-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.metamorphosis-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mixed-cards {
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    border: 4px dashed transparent;
}

.card-slot {
    min-height: 100px;
    min-width: 130px;
    border: 4px solid #cdcdcd;
    margin: 2px;
    border-radius: var(--border-radius);
    background: #eee;
}

/*This only works if the tag is really empty and there is not even whitespace inside*/
/* .card-slot:empty {
    border: 4px solid #cdcdcd;
    margin: 2px;
    border-radius: var(--border-radius);
    background: #eee;
} */


.card {
    margin: 14px;
}

.card > img {
    display: block;
    width: 200px;
    box-shadow: 0 0 0 8px #86989B;
    border-radius: var(--border-radius);
}


.active-zone {
    background: #ebd111;
    }


.over-zone {
    background: #f10a0a;
}


.dragged > img {
    box-shadow: 0 0 0 8px #10ac18;
}

.dragged {
    margin: 14px;
}


/* .drag-feedback {
    background: lightskyblue;
    border: 50px solid dodgerblue;
} */

/* = .card
.draggable {
    background: #e0ffee;
    border: 1px solid #57a57a;
    width: 200px;
    padding: 5px;
    margin: 3px;
} */

/* = .card-slot
.drop-zone {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background: #eee;
    border: 2px solid #000;
    min-height: 36px;
} */
